
.signup{
    color :black;
}
.main_container{
      margin-top:0% ;
    /* border:2px solid rgb(195, 34, 34); */
    width:100%;
    /* background-color: blue; */
    height:92vh;
     overflow-x: hidden;
     /* position: fixed; */
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-around;
}
.img_container{
    /* border:2px solid red; */
    /* margin-right:rem; */
width: 40%;
height: 80%;
justify-content: center;
display: flex;


}
.img_container img{
    /* box-shadow: 2px 2px 2px rgb(54, 52, 52,0.5); */

    width:30rem;
    height:35rem;
}

.box{
    width:400px;
    height:500px;
    font-size:16px;
    padding:40px 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
}

.user{
    margin-top: 50px;
}

.fas{
    position: absolute;
}

input{
    width:90%;
    height:2.3rem;
    margin-bottom:25px;
    padding:0 20px 2px;
    font-size:16px;
    border:none;
    border-bottom: 1px solid #141e75;
    outline:none;
     background-color: rgba(216, 220, 220, 0.3);
    /* background-color: #0f044c; */
    color: #000000;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 8px;
}

input:focus{
    border-bottom: 1px solid #eeeeee;
}

.reset-password{
    color:#ff7f50;
    text-align:right;
    margin-top:0px;
    font-size:12px;
}

.login-btn{
    margin-top:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.btn{
    display:block;
    width:80%;
    padding:15px;
    background-color: #eeeeee;
    color:#0f044c;
    border:none;
    border-radius:20px;
    font-size:20px;
    font-weight:600;
    opacity:0.8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    margin-bottom: 30px;
}

.btn:hover{
    opacity:1;
}

.signup span{
    color:#314452;
}

.signup span::hover{
    color:#3793df
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 767px){
    .img_container{
        position: absolute;
        visibility:hidden;
    }
    .main_container {
        height:100vh !important;
        margin-left:0px !important;
    }
    .box{
        /* background-color: transparent !important; */
        width:400px;
        margin-right: 15px;
        margin-left: 10px;
    }

}